<a href="https://colab.research.google.com/github/DhruvilShah99/Applications-of-Python-programming-in-DA-and-ML/blob/master/Day2_Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to find the largest number in a list.

In [6]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:4
Enter element:5
Enter element:3
Largest element is: 5

Try this More pythonic  2 line program equivalent to above codings as shown below !

In [9]:
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n4
1
2
5
3
The greatest no is 5

Python Program to put the even and odd elements in a list into two different lists.

In [54]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:5
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
The even list [2, 4]
The odd list [1, 3, 5]

Try this More pythonic program equivalent to above codings as shown below !

In [53]:
a=[int(input("Enter element:")) for i in range(int(input("Enter number of elements:")))]
print("The even list",[j for j in a if j%2==0])
print("The odd list",[j for j in a if j%2!=0])

Enter number of elements:4
Enter element:1
Enter element:2
Enter element:3
Enter element:4
The even list [2, 4]
The odd list [1, 3]

Python Program to merge two lists and sort it.

In [11]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:4
Enter element:1
Enter element:4
Enter element:3
Enter element:6
Enter number of elements:3
Enter element:7
Enter element:3
Enter element:8
Sorted list is: [1, 3, 3, 4, 6, 7, 8]

Python Program to sort the list according to the second element in the sublist.

In [12]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [13]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:23
Enter element:11
Enter element:22
Enter element:43
Second largest number is: 23

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [14]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:4
[(2, 4), (3, 9), (4, 16)]

Python Program to generate random numbers from 1 to 20 and append them to the list.

In [15]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:6
Randomised list is:  [15, 9, 19, 11, 6, 10]

print multiples of 3 upto 200 using a list

In [35]:
print([x for x in range(3,200+1,3)])

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [39]:
print([i for i in range(1000,2001) if i%5==0 and i%7==0])

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [38]:
lst=[input(x) for i in range(int(input("Enter n")))]
lst.sort()
print(lst)
lst.sort(reverse=True)
print(lst)

Enter n4
surat
mangalore
manoj
ravi
['mangalore', 'manoj', 'ravi', 'surat']
['surat', 'ravi', 'manoj', 'mangalore']

Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [48]:
import math
print([i for i in range(500,1001) if i%5==0 and (math.sqrt(i) - math.floor(math.sqrt(i))) == 0])

[625, 900]

Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [49]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

Python program that assigns variables

In [55]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

Python program that searches tuples

In [56]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [57]:
print(max((tuple(input("Enter a string: ").split())),key=len))

Enter a string: My name is james bond
james

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [72]:
print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

Enter number of students4
Enter rollno: 1
Enter marks: 23
Enter rollno: 2
Enter marks: 25
Enter rollno: 3
Enter marks: 21
Enter rollno: 4
Enter marks: 28
[('4', '28'), ('2', '25'), ('1', '23'), ('3', '21')]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [74]:
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees4
Enter name: jayraj
Enter salary: 25000
Enter name: atish
Enter salary: 27500
Enter name: raj
Enter salary: 21000
Enter name: dhruvil
Enter salary: 29000
[('atish', '27500'), ('dhruvil', '29000'), ('jayraj', '25000'), ('raj', '21000')]