<a href="https://colab.research.google.com/github/DhruvilShah99/Applications-of-Python-programming-in-DA-and-ML/blob/master/Day2_Session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dict.clear()
Removes all elements of dictionary dict

In [1]:
dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

dict.items()
Returns a list of dict's (key, value) tuple pairs

In [2]:
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

dict.copy()
Returns a copy of dictionary dict

In [3]:
dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [4]:
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Python Program to Sum All the Items in a Dictionary

In [5]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

Python Program to Remove the Given Key from a Dictionary

In [6]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):b
Updated dictionary
{'a': 1, 'c': 3, 'd': 4}

Python Program to add name and mark as key->value pair in  a Dictionary and print it.

In [7]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records3
Enter name 1raj
Enter mark 13
{'raj': 3}
Enter name 2jay
Enter mark 223
{'raj': 3, 'jay': 23}
Enter name 3abhi
Enter mark 318
{'raj': 3, 'jay': 23, 'abhi': 18}

Keys and Values example

In [9]:
    d={}
    print (" The dictionary elements are")
    for i in range(1,21):
        d[i]=i**2
    print (d)
    # To print key and values
    print (" Key==> Value are")
    for (k,v) in d.items():	
        print(k,"==>",v)
  # To print key only
    print ("\nTo print key only")
    for k in d.keys():	
        print(k, end=" ")
  #To print value only
    print ("\nTo print values only")
    for v in d.values():	
        print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

Python program to convert 2 digit number   into words

In [10]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:23
twenty three

How to sort a dictionary by values in Python

In [11]:
d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

1. Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [18]:
d={}
for i in range(int(input("Enter number of students: "))):
  str1=input("Enter name: ")
  x=int(input("Enter marks: "))
  d[str1]=x
sorted_d= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_d)

Enter number of students: 3
Enter name: raj
Enter marks: 23
Enter name: jay
Enter marks: 27
Enter name: abhi
Enter marks: 25
[('jay', 27), ('abhi', 25), ('raj', 23)]

2.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [19]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print(sorted_a)

Enter number of employees: 3
Enter name: jay
Enter salary: 21000
Enter name: raj
Enter salary: 23000
Enter name: abhi
Enter salary: 22000
[('abhi', 22000), ('jay', 21000), ('raj', 23000)]

3.Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [21]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print(sorted_a)
print("Sum is",sum(d.values()))
print("Max is",max(d.values()))
print("Min is",min(d.values()))
print("Avg is",sum(d.values())/len(d))

Enter number of employees: 3
Enter name: raj
Enter salary: 21000
Enter name: abhi
Enter salary: 23000
Enter name: jay
Enter salary: 27000
[('raj', 21000), ('abhi', 23000), ('jay', 27000)]
Sum is 71000
Max is 27000
Min is 21000
Avg is 23666.666666666668

4.Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [36]:
d={}
for i in range(int(input("Enter number of employees: "))):
  str1=input("Enter name: ")
  x=int(input("Enter salary: "))
  d[str1]=x
s2 = {key:val for key, val in d.items() if val > 2000 and val < 4000}
print(s2)

Enter number of employees: 3
Enter name: raj
Enter salary: 2100
Enter name: abhi
Enter salary: 1900
Enter name: jay
Enter salary: 3999
{'raj': 2100, 'jay': 3999}

5.Python program to convert a 3 digit number  into words

In [22]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight

Python Program to count the number of lines in a text file.

In [23]:
fname = input("Enter file name: ")
num_lines = 0
with open(fname, 'r') as f:
    for line in f:
        num_lines += 1
print("Number of lines:")
print(num_lines)

Enter file name: /content/hello.txt
Number of lines:
2

Python Program to count the number of words in a text file.

In [24]:
fname = input("Enter file name: ")
num_words = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        num_words += len(words)
print("Number of words:")
print(num_words)

Enter file name: /content/hello.txt
Number of words:
5

Python Program to count the occurrences of a word in a text file.

In [26]:
fname = input("Enter file name: ")
word=input("Enter word to be searched:")
k = 0

with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            if(i==word):
                k=k+1
print("Occurrences of the word:")
print(k)

Enter file name: /content/hello.txt
Enter word to be searched:name
Occurrences of the word:
1

Python Program to copy the contents of one file into another.

In [0]:
with open("/content/hello.txt") as f:
    with open("/content/temp.txt", "w") as f1:
        for line in f:
            f1.write(line)

Python Program to read the contents of the file in reverse order.

In [28]:
filename=input("Enter file name: ")
    
with open (filename,'r') as f:
    for line in f:
        l=line.split()
        l.reverse() 
        st= " ".join(l)
        print (st)

Enter file name: /content/hello.txt
hello
anonymous is name My

Python Program to count the total number of charaters (except blank space) in a text file.

In [31]:
fname = input("Enter file name: ")
k = 0
file = open(fname, "r")
data = file.read().replace(" ","")
k = len(data)
print("Total number of characters are::")
print(k)

Enter file name: /content/hello.txt
Total number of characters are::
23

Python Program to print all the numbers present in a text file with its total number of occurrence.

In [40]:
fname = input("Enter file name: ")
d={x:0 for x in range(0,10)}
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isdigit()):
                    d[int(letter)]+=1
d1 = {key:val for key, val in d.items() if val > 0}
print(d1)

Enter file name: /content/temp.txt
{0: 1, 1: 1, 2: 2, 3: 1, 8: 2}

Python Program to append the contents of one file to another file by getting the both file names through keyboard

In [32]:
fname = input("Enter filename: ")
fname1 = input("Enter another filename: ")
with open(fname) as f:
    with open(fname1, "w") as f1:
        for line in f:
            f1.write(line)

Enter filename: /content/hello.txt
Enter another filename: /content/copy.txt

Python Program to count the number of blank spaces in a text file.

In [33]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: /content/copy.txt
Occurrences of blank spaces:
22

Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [35]:
fname = input("Enter file name: ")
fname1 = input("Enter another filename: ")
with open(fname, 'r') as f:
  with open(fname1, "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
        print(l)

Enter file name: /content/hello.txt
Enter another filename: /content/copy.txt
Hello

My Name Is Anonymous